<div>
    <h1>Edit Your Profile </h1>
    <hr>
    <div class="col-md-4">
        <form [formGroup]="profileForm" (ngSubmit)="saveProfile(profileForm.value)" autocomplete="off" novalidate>
            <div class="form-group">
                <label for="firstName">First Name:</label>
                <em *ngIf="!validFirstName()">Required</em>
                <input id="firstName" [ngClass]="{'error': !validFirstName()}" formControlName="firstName" type="text" class="form-control" placeholder="First Name..." />
            </div>
            <div class="form-group">
                <label for="lastName">Last Name:</label>
                <em *ngIf="!validLastName()">Required</em>
                <input id="lastName" [ngClass]="{'error': !validLastName()}" formControlName="lastName" type="text" class="form-control" placeholder="Last Name..." />
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" (click)="cancel()" class="btn btn-default">Cancel</button>
        </form>
    </div>
</div>