.thumbnail {
    min-height: 210px;
}

.pad-left {
    margin-left: 10px;
}

.well div {
    color: #bbb;
}

.green {
    color: green !important;
}

.red {
    color: red !important;
}

.blod {
    font-weight: bold;
}